@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rouge+Script&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 96%);

}

.slideshow-container {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0px;
    left: 0px;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
}

h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
}



h2 .span1 {
    font-size: 4rem;
    color: #fff;
    font-family: 'Bonheur Royale', cursive;
    font-family: 'Rouge Script', cursive;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

h2 .span2 {
    font-family: ariel;
    font-size: 1rem;
    color: rgb(1, 8, 1);
    text-align: center;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e645, 0 0 40px #00e645, 0 0 50px #54e600, 0 0 60px #00e645, 0 0 70px #00e645;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700, 0 0 60px #FFD700, 0 0 70px #FFD700, 0 0 80px #FFD700;
    }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}